body, header, main {
    background-color: #F3F5FC;
}

body {
    font-family: Inter;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

body textarea:focus {
    outline: none;
    box-shadow: none;
}

header {
    padding: 20px;
    height: 5%;
}
main {
    flex: 1;
    height: 75%;
    display: flex;
    justify-content: right;
    padding: 20px 40px;
    margin-bottom: 10px;
}

.encript-section {
    display: block;
    width: 1200px;
    background-color: white;
    border-radius: 32px;
    padding: 50px;
    margin: 0 20px 0 0;
    box-shadow: 10px 10px 30px #00000014;
}

.encript-section textarea {
    width: 1150px;
    height: 80%;
    border: none;
    resize: none;
    outline: none;
    font-size: 32px;
    font-weight: 400;
    padding: 20px;
    color: #200a71;
}

.warning-text {
    margin: 10px 0;
    padding-left: 20px;
    font-size: 12px;
    font-weight: 400;
}

.buttonsSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.encryptButton {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    color: white;
    background-color: #200a71;
    margin: 0 15px;
    cursor: pointer;
}

.desencryptButton {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-size: 16px;
    color: #200a71;
    border-color: #200a71;
    background-color: #D8DFE8;
    margin: 0 15px;
    cursor: pointer;
}

.desencript-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    color: #200a71;
    width: 400px;
    border-radius: 32px;
    padding: 40px;
    box-shadow: 10px 10px 30px #00000014;
}

.righside-box-size {
    width: 100%;
    height: 100%;
}

.non-message-modal-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.modal-cheems-image {
    width: 300px;
}

.modal-non-message-principal {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding: 20px;
}

.modal-non-message-secundary {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding: 0 20px;
}

.encripted-message-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copy-button-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.encripted-message-text-area {
    border: none;
    resize: none;
    outline: none;
    height: 555px;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word; 
    align-self: flex-start;
    background-color: white;
}

/* Para ocultar los distintos modales */
.easter-egg {
    color: #5c0736;
}

.hide {
    display: none;
}

footer {
    background: linear-gradient(#200a71, #800399);
    width: 100%;
    height: 5%;
    color: white;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    align-items: center;
}
/* Media Queries */
/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
    body {
        height: 100%;
    }

    main {
        flex: 0;
        flex-direction: column;
    }

    .encript-section {
        width: 86%;
        margin-bottom: 20px;
    }

    .encript-section textarea {
        width: 95%;
    }

    .desencript-section {
        width: 88%;
    }

    .desencript-section img {
        display: none;
    }

    .encripted-message-text-area {
        width: fit-content;
        height: fit-content;
    }

    footer {
        height: 50px;
        align-self: flex-end;
    }

    footer div {
        width: 60%;
    }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
    body {
        height: 100%;
    }

    main {
        flex: 0;
        flex-direction: column;
    }

    .encript-section {
        width: 81%;
        margin-bottom: 20px;
    }

    .encript-section textarea {
        width: 95%;
    }

    .desencript-section {
        width: 85%;
    }

    .desencript-section img {
        display: none;
    }

    .encripted-message-text-area {
        width: fit-content;
        height: fit-content;
    }

    footer {
        height: 70px;
        align-self: flex-end;
    }

    footer div {
        width: 80%;
    }
}

/* Teléfonos */
@media only screen and (max-width: 575px){
    body {
        height: 100%;
    }

    main {
        flex: 0;
        flex-direction: column;
    }

    .encript-section {
        width: 84%;
        height: 350px;
        margin-bottom: 20px;
    }

    .encript-section textarea {
        width: 90%;
        height: 150px;
    }

    .buttonsSection {
        flex-direction: column;
    }

    .encryptButton {
        margin-bottom: 20px;
    }

    .desencript-section {
        justify-content: center;
        align-items: center;
        width: 89%;
        height: 200px;
    }

    .desencript-section img {
        display: none;
    }

    .encripted-message-text-area {
        width: 70%;
        height: 100px;
        padding: 40px;
    }

    footer {
        height: 80px;
        align-self: flex-end;
        padding: 20px;
    }

    footer div {
        width: 70%;
    }
}